.listing-container {
  @include make-column(11);
  margin: 0 auto;

  .page-header {
    margin-top: 50px;
    margin-bottom: 80px;

    p {
      span {
        font-weight: 600;
      }
    }

    h1 {
      color: $color__primary;
      text-transform: uppercase;
    }
  }

  .filter-nav {
    border-bottom: 2px solid $color__gray-light;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 50px;

    button {
      border: none;
      outline: none;
      background-color: transparent;
      margin-left: 10px;
      cursor: pointer;

      &.active {
        color: $color__accent;
      }
      i {
        font-size: 14px;
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 40px;
  }



  .row {

    .content-listing {
      text-decoration: none;
      color: inherit;
      border: 1px solid $color__gray-light;
      img {
          height: 320px;
          object-fit: cover;
          width: 100%;
          margin: 0;
          padding: 0;
      }

      .content {
          padding: 20px;
        .title {
            color: $color__primary;
            text-transform: uppercase;
            margin: 0 0 10px 0;
            padding: 0;
            font-size: 16px;
            line-height: 1.4;
        }

        .meta {
            p {
                font-size: 14px;
                display: flex;
                align-items: center;

                i {
                    color: $color__accent;
                    margin-right: 10px;
                }
            }
        }

        footer {
            border-top: 1px solid $color__gray-light;

            p {
                color: $color__primary;
                margin: 20px 0 0 0;
                span {
                    font-weight: 600;
                }
            }
        }
      }
  }


      .grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 30px;
          margin-bottom: 50px;

      }

      .list {
        display: block;

        .content-listing {
          display: grid;
          grid-template-columns: 240px 1fr;
          margin-bottom: 30px;
          position: relative;

          .title {
            max-width: 80%;
          }

          .meta {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 30px;

            p {
              margin-bottom: 0;
            }
          }

          footer.meta {
            
          position: absolute;
          top: 20px;
          right: 20px;
          border-top: 0;
          display: flex;
          margin-top: 0;


            p {
              margin: 0;
            }
          }

          img {
            height: 180px;
          }
        }
      }
  }


  nav.navigation.pagination {
    text-align: center;
    margin-bottom: 80px;
    .nav-links {
      span {
        font-weight: 600;
        font-size: 16px;
        color: $color__primary;
        padding: 5px;
      } 
      a {
        text-decoration: none;
        color: $color__primary;
        padding: 5px;
      }
      .next.page-numbers, .prev.page-numbers {
        display: none;
      }
    }
  }


}




// single listing

.listing-container-single {
  .row {
    grid-template-columns: 4fr 1fr;

    .thumbnail {
      img {
        height: 450px;
        object-fit: cover;
        width: 100%;
      }
    }

    .box {
      border: 1px solid $color__gray-light;
      padding: 20px;
      p {
        font-size: 14px;
        display: flex;
        align-items: center;
        i {
          color: $color__accent;
          margin-right: 10px;
        }
      }
    }
  }


}




// filters
#beautiful-taxonomy-filters-listings {
  form {
    .beautiful-taxonomy-filters-label {
      display: none;
    }

    .beautiful-taxonomy-filters-button {
      display: block;
      background-color: $color__primary;
      color: $color__white;
      border: none;
      outline: none;
      font-size: 14px;
      width: 100%;
      height: 50px;
      cursor: pointer;
    }

    .beautiful-taxonomy-filters-select {
      border: 1px solid $color__gray-light;
      margin-bottom: 20px;
      height: 50px;
      background-position: 94% center;
      font-size: 14px;
    }
  }
}